h1,h2,h3{
	text-align: center;
	font-family: arial, sans-serif;
}

div{
	padding: 10px 25px 25px 25px;
}	

table{
	margin: 0 auto;
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 40%;
}

td, th{
	border-bottom: 1px solid #000000;
	text-align: center;
	padding: 15px;
}

tr:nth-child(even){
	background-color: #dddddd;
}